<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Portatil</title>
    <style>
        .container {
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Editar Portatil</h1>
    <form action="{{ url_for('portatil.edit', id=portatil.id) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ portatil.nombre }}" required>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="{{ portatil.color }}" required>
        <button type="submit">Actualizar Portatil</button>
        <a href="{{ url_for('portatil.index') }}">Volver</a>
    </form>
    </div>
</body>
</html>