<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Celadores</title>
</head>
<body>
    <h1>Editar Celadores</h1>
    <form action="{{ url_for('celador.edit', id=celador.id) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ celador.nombre }}" required>
        <label for="cedula">Cedula:</label>
        <input type="text" id="cedula" name="cedula" value="{{ celador.cedula }}" required>
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" value="{{ celador.correo }}" required>
        <button type="submit">Actualizar Celador</button>
    </form>
</body>
</html>