<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Aprendiz</title>
    <style>
        .container {
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
    <h1 style="text-align: center;">Agregar Aprendiz</h1>
    <form action="{{ url_for('aprendiz.add') }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="ficha">Ficha:</label>
        <input type="text" id="ficha" name="ficha" required>
        <label for="cedula">Cedula:</label>
        <input type="text" id="cedula" name="cedula" required>
        <button type="submit">Agregar Aprendiz</button>
        <a href="{{ url_for('aprendiz.index') }}">Volver</a>
    </form>
    </div>
</body>
</html>