<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Entrada</title>
</head>
<body>

    {%with mensajes = get_flashed_messages(with_categories=true) %}
        {%for categoria, mensaje in mensajes %}
            <script>
                window.onload = function(){
                    window.setTimeout(function(){
                        alert("{{mensaje}}");
                    }, 500);
                };
            </script>
        {%endfor%}
    {%endwith%}     
       
    <h1>Agregar Entrada</h1>
    <form action="{{ url_for('entrada.add') }}" method="post">
        <label for="idAprendiz">Aprendiz:</label>
        <input type="text" id="idAprendiz" name="idAprendiz" required>
        <label for="idPortatil">Portatil:</label>
        <input type="text" id="idPortatil" name="idPortatil" required>
        <button type="submit">Agregar Entrada</button>
    </form>
</body>
</html>