<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Entrada</title>
    <style> 
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .menu ul li {
            float: left;
        }
        
        .menu ul li a {
            display: block;
            color: rgb(31, 104, 31);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .menu ul li a:hover {
            background-color: #1dad01ce;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1 >Lista de Entradas</h1>
        <h2>{{current_user.nombre}}</h2>
    </div>
    <form action="{{ url_for('entrada.buscar', nombre=nAprendiz)}}" method="get">
        <div class="form-group">
            <label for="nombre">Nombre Aprendiz</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div>
            <button type="submit">Buscar</button>
        </div>
    </form>
    <div style="width: 80%; margin: 20px auto;">
    <table>
        <tr>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th>Aprendiz</th>
            <th>Portatil</th>
            <th>Acciones</th>
        </tr>
        {% for entrada in data %}
            <tr>
                <td>{{ entrada.fechaE }}</td>
                <td>{{ entrada.fechaS }}</td>
                <td>{{ entrada.modelo_aprendiz.nombre }}</td>
                <td>{{ entrada.modelo_portatil.nombre }} {{ entrada.modelo_portatil.color }}</td>
                <td>
                    <a href="{{ url_for('entrada.exit', id=entrada.id) }}">Salida</a>
                    <a href="{{ url_for('entrada.delete', id=entrada.id) }}">Eliminar</a>
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('entrada.add') }}">Agregar Entrada</a></li>
            <li><a href="{{ url_for('aprendiz.index') }}">Agregar Aprendiz</a></li>
            <li><a href="{{ url_for('portatil.index') }}">Agregar Portatil</a></li>
            <li><a href="{{ url_for('login.logout') }}">Cerrar sesion</a></li>
        </ul>
    </nav>
    </div>
</body>
</html>